/* Estilos para la paginación */
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0;
}

.pagination .page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #3b7ddd;
  border-color: #3b7ddd;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #3b7ddd;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}

.pagination .page-link:hover {
  z-index: 2;
  color: #2b62b9;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pagination .page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(59, 125, 221, 0.25);
}

/* Paginación en modo oscuro */
.dark-mode .pagination .page-link {
  color: #3b7ddd;
  background-color: #222e3c;
  border-color: #2c3b4f;
}

.dark-mode .pagination .page-item.active .page-link {
  background-color: #3b7ddd;
  border-color: #2b62b9;
}

.dark-mode .pagination .page-item.disabled .page-link {
  color: #6c757d;
  background-color: #222e3c;
  border-color: #2c3b4f;
}

.dark-mode .pagination .page-link:hover {
  color: #fff;
  background-color: #2c3b4f;
  border-color: #3b4d65;
}

/* Variaciones de tamaño */
.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
